@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Yatra+One&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;

    box-sizing: border-box;
    font-family: 'poppins', sans-serif;


}

body {

    color: white;
}

p {

    line-height: 1.5;
    color: white;
}

.header {
    
    background: rgb(0,36,2);
    background: linear-gradient(90deg, rgba(0,36,2,1) 0%, rgba(56,121,9,1) 90%, rgba(0,0,0,1) 100%);
    
}

li{

    list-style: none;
}

a{

    color: white;
    text-decoration: none;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar{

    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}



.hamburger{
display: none;
cursor: pointer;

}

.bar{

display: block;
width: 25px;
height: 3px;
margin: 5px auto;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;

background-color: white;

}

.nav-branding img{

    font-size: 1rem;
    width:200px;
    height: 50px;
}

.nav-link{

    transition: 0.7s ease;
}

.nav-link:hover{

    color: dodgerblue;
}



.red {
    color: black;
}

.row {

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: black;
    padding-bottom: 30px;
    padding-top: 20px;

   
}

.col-1{

    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}
.col-1 h1{

    font-size: 54px;
    color: white;
    line-height: 3.5rem;
}

.col-1 p{

    font-size: 16px;
    color: white;
    font-weight: 100;;
}

.col-2{
    position: relative;
    flex-basis: 50%;
    display:flex;
    align-items: center;

}

.col-2 .controller{

    width:70%;
    margin-top: 20px;
    
}

.col-2 img{

    width: 200px;
    height: 300px;
}

.home-content {

    max-width: 600px;


}

.home-content p {

    font-size: 16px;


}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;

}










h2 {

    font-size: 1.6rem;
   
    margin-top: 15px;
    color: black;
}


#stor-text {

    font-size: 1.4rem;
    margin-top: 15px;
    margin-bottom: 15px;
    color: black;
}

h4,
h5 {

    color: black;
}







.wrapper-hero {

    margin-left: 180px;
    margin-bottom: 250px;
}





#img-size {
    width: 870px;
    height: 620px;
}

.button {

    padding: 5px;
    background: rgb(0,36,2);
    background: linear-gradient(90deg, rgba(0,36,2,1) 0%, rgba(56,121,9,1) 90%, rgba(0,0,0,1) 100%);
    border-radius: 20px;
    color: white;


}

.button2 {

    padding: 5px;
    background-color: white;
    border-radius: 20px;
    margin-left: 10px;


}

.button-container button {


    margin-top: 12px;

}

#blog-text h1 {

    color: black;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#blog-text {

    margin-left: 200px;
    margin-right: 200px;
}

p {

    margin: 10px 10px 10px 0px;
    color: black;
    font-size: 14px;

}

#bild-blog {

    width: 100%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

#blog-text li {

    margin-bottom: 5px;
    margin-left: 30px;
    color:black;
}

#blog-text li {

    font-size: 16px;
    list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23808"><path d="M9 19c-.26 0-.51-.1-.71-.29l-6-6A.996.996 0 1 1 3.7 11.3l5.29 5.29L20.28 5.3a.996.996 0 1 1 1.41 1.41l-12 12c-.2.2-.45.29-.71.29Z"></path></svg>');

}

#blog-text li::marker {


    font-size: 3em;
}



.grid-container{
    display: grid;
    margin-left: 10px;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.grid-container img{

    width: 202px;
    height: 150px;
    margin: 10px 0px 25px 0px;
}

.wrapper-all-content{

    margin-right: 200px;
}

.right-sidebar{

height: 510px;
width: 250px;
position: relative;
top: 50px;
right: 20px;
float: right;
padding-top: 40px;
background: rgb(0,36,2);
background: linear-gradient(90deg, rgba(0,36,2,1) 0%, rgba(56,121,9,1) 90%, rgba(0,0,0,1) 100%);
opacity: 0.7;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
border-radius: 10px;
}
.right-sidebar h5,
.right-sidebar p{

    color: white;
    margin: 0px 10px 0px 10px;
    
}

.right-sidebar .right-sidebar-text p{
font-size:11px;
padding-top:10px;
}



.right-sidebar-two{

    height: 510px;
    width: 250px;
    
   
    right: 20px;
    float: right;
    padding-top: 40px;
    background-color: lightblue;
    opacity: 0.7;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    }




.img-sidebar{

    display:flex;
    align-items: center;
    justify-content: center;
   

}

.right-sidebar-text{

    
    margin-left: 5px;
    line-height: 1.5;
}


.right-sidebar-text p{

    font-size: 12px;
}

.right-sidebar h5{
font-size: 16px;
margin-left: 16px;
margin-bottom: 10px;

}

.faq{

    padding: 15px 0px 0px 0px;
}

.faq h4{

    padding-bottom: 15px;
}

footer{

    
    background: rgb(0,36,2);
background: linear-gradient(90deg, rgba(0,36,2,1) 0%, rgba(56,121,9,1) 90%, rgba(0,0,0,1) 100%);
height: 150px;
}

.row-footer{

    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    gap: 3;
}

.side2{

  margin-top:20px;  

}

.side1{

margin-top:20px;
   
    
}

.logo-footer img{
    
   
 width: 170px;
 height: 120px;  
   
   
}

.logo-footer {

    margin-top: 8px;
}

.about-me-section{
    
}

.text-footer{

    width: 300px;
    height: 170px;
    margin-left: 50px;
    margin-top: 20px;
    
}

.text-footer p{

    color: white;
    font-size:12px;
}

/*mediaqueries start here*/

@media (max-width: 768px){


.row{
    flex-direction: column-reverse;
    margin: 50px 0;
    
}



.row .col-1 h1{

    font-size:16px;
}

.col-2 img{

    width: 100px;
    height: 150px;

}

.col-2 p{

    font-size:16px;
}

.header{

    padding: 7px 10%;
}

.right-sidebar {
    display: none;
    width: 100%;
    height: 200px;
    position: relative;
    padding: 0;
    margin: 0;
    top:0;
    right:0;
  }

  .right-sidebar img{
    height:50px;
    width: 50px;
    padding:0px;
    margin:0px;
  }
  .right-sidebar p{

    font-size: 8px;
  }

  .wrapper-all-content{

    margin: 0;
    width: 100%;
    
  }

  #blog-text{

    margin:5% 5%;
  }

  .hamburger{
    display: block;

  }

  .hamburger.active .bar:nth-child(2){


    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
  transform: translate(8px) rotate(45deg);

}
.hamburger.active .bar:nth-child(3){
    transform: translate(-8px) rotate(-45deg); 

}

.nav-menu{

    position: fixed;
    left: -100%;
    top: 70px;
    gap:0;
    flex-direction: column;
    background-color: black;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1000;
}

.nav-item{

    margin: 16px 0;
}

.nav-menu.active{

    left: 0;
}

.grid-container{
    
grid-template-columns: 1fr;
    
}

.grid-container img{

    width: 90%;
}

.button-container button{

    padding: 3px;
}

.button-container button{

    font-size: 8px;
}

.col-1 p{

    font-size: 12px;
}

.nav-branding{

    font-size: 1.5rem;
}

h2{

    font-size: 1.2rem;
}

#stor-text{

    font-size: 1.3rem;
}


    




}